*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: center;  
    align-items: center; 
    background-color: gray;
    padding: 10px;
}
section{
    width: 150px;
    background-color: #8080806f;
    gap: 40px;
    padding: 10px;
    display: flex;
    flex-direction: column;    
}
button{
    padding: 10px;
    margin: 5px;
    gap: 20px;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}
button:hover{
    background-color: #008b8b87;
}
footer{
    background-color: gray;
    text-align: center;
    padding: 10px;
}
.painel{
    display: none;
    padding: 10px;
}
.conteudo{    
    display: flex;
    flex: 1;
}
.boasVindas{    
    background: white;
    padding: 40px 60px;
    text-align: center;
}
.areaPrincipal{
    display: 1;
    padding: 20px;
}
#id3{
    display: flex;
    flex-direction: column;
}
