*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: center;  
    align-items: center; 
    background-color: gray;
    padding: 10px;
}
section{
    width: 150px;
    background-color: #8080806f;
    gap: 40px;
    display: flex;
    flex-direction: column; 
    justify-content: center;   
}
button{
    padding: 25px;
    margin: 5px;
    gap: 20px;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}
button:hover{
    background-color: #008b8b4e;
}
footer{
    background-color: gray;
    text-align: center;
    padding: 10px;
}
.painel{
    display: none;
    flex-direction: column;
    text-align: center;
    border: 5px dotted black;
    padding: 40px;
    gap: 20px;
}
.conteudo{    
    display: flex;
    flex: 1;
}
.boasVindas{    
    background: white;
    padding: 40px 60px;
    text-align: center;
}
.areaPrincipal{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
#d3{
    flex-direction: column; 
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
#d3 button{
    display: flex;
    padding: 10px;    
    border-radius: 20px;
}
#d4 button{
    display: flex;
    padding: 10px;    
    border-radius: 20px;
}
.limpar{
    background-color: #ffd90088;    
}
.calcular{
    background-color: #00800079;
}
.buttons{
    display: flex;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: 2px solid black;
}

